/* 공통 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: background 0.3s, color 0.3s;
}

.container {
  margin-top: 100px;
}

#artist {
  padding: 10px;
  width: 250px;
  background: #333;
  color: #e0e0e0;
  border: 1px solid #444;
}

#searchButton, #randomButton {
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}

#searchButton {
  background: #007bff;
}

#searchButton:hover {
  background: #0056b3;
}

#randomButton {
  background: #28a745;
}

#randomButton:hover {
  background: #218838;
}

#results {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

#results li {
  margin: 10px 0;
  background: #333;
  padding: 10px;
  border-radius: 5px;
}

#error {
  color: #ff4c4c;
  padding: 0;
}

.highlight {
  color: #ff0;
  font-style: italic;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

/* 다크모드 스타일 */
body.dark {
  background: #121212;
  color: #e0e0e0;
}

/* 화이트모드 스타일 */
body.light {
  background: #ffffff;
  color: #000000;
}

body.light #results li {
  background: #f9f9f9;
}

/* Footer 스타일 */
.footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.footer .theme-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer .fa-github {
  font-size: 24px;
  margin-left: 10px;
  transition: color 0.3s ease;
}

/* 다크모드 */
body.dark .theme-toggle,
body.dark .fa-github {
  color: #fff; /* 달/태양 아이콘 및 깃허브 아이콘: 흰색 */
}

/* 화이트모드 */
body.light .theme-toggle,
body.light .fa-github {
  color: #000; /* 달/태양 아이콘 및 깃허브 아이콘: 검정색 */
}